.footer {
    background-color: #f8f9fa;
}
.footer-container {
    padding-bottom: 45px;
    margin-top: 85px;
}
img {
    max-width: 100%;
    height: auto;
} 

.footer-top {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px 40px;
}
.footer-content {
    font-size: 14.5px;
}
  
.footer-section {
    flex-basis: 25%;
    margin-bottom: 20px;
    padding: 0 25px;
}
.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer-section .footer-contact ul li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 30px; 
}
  
.footer-section p {
    margin-bottom: 5px;
    font-size: 14.5px;
    text-align: justify;
}
  .footer-contact {
    background-size: 15px 15px !important;
    line-height: 22px;
    font-size: 13px;
}
  .footer-title {
    margin: 5px 0 20px;
    font-size: 18px;
    font-weight: 600;
    color: #222;
    text-transform: uppercase;
}
.fBlock-logo-bct img {
    max-width: 180px;
}
ul.infoList-social li {
    display: inline-block;
    margin: 15px 10px 0 0;
} ul.infoList-social li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    text-align: center;
    transition: all 0.4s ease;
}
  
ul .contact-1::before {
content: "\F3E7"; /* Ký tự mã Unicode của biểu tượng biến thể */
font-family: "bootstrap-icons"; /* Font chứa biểu tượng */
position: absolute;
left: 0;
top: 0; 
}
ul .contact-2::before {
    content: "\F5B4"; /* Ký tự mã Unicode của biểu tượng biến thể */
    font-family: "bootstrap-icons"; /* Font chứa biểu tượng */
    position: absolute;
    left: 0;
    top: 0; 
}
ul .contact-3::before {
    content: "\F32C"; /* Ký tự mã Unicode của biểu tượng biến thể */
    font-family: "bootstrap-icons"; /* Font chứa biểu tượng */
    position: absolute;
    left: 0;
    top: 0; 
}  

ul.infoList-social li a:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #222;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.4s ease;
    transform: scale(1);
}
ul.infoList-social li a:hover:after {
    opacity: 0.5;
    filter: alpha(opacity = 100);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}
ul.menuList-footer li {
    display: inline-block;
    margin: 0 12px;
    vertical-align: middle;
    position: relative;
}
ul.menuList-footer li a {
    color: #666;
    line-height: 25px;
}
.footer-bottom {
    background: #151515;
    display: block;
    overflow: hidden;
    padding: 20px 0;
}
.footer-bottom p, .footer-bottom a {
    margin: 0;
    color: #fff;
    font-size: 13.5px;
}
